* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}   

a:hover {
    color: black;
    text-decoration: none;  
}

body{
    background-color: #f5f5dc;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #444546;
} 

.h1icono{
    text-align: justify;
    font-size: 30px;
    animation: lateral 10s 2 linear;
}
header{
    background-color: #f5f5dc;
}
.encabezado{
    background-color: #f5f5dc;
    padding-top: 0px;
}

.nav__menu{
    padding: 20px;
    background-color: brown;
} 



.nav__menu__general {
    display: inline;
    background-color: brown;
}

ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.formulario{
    padding: 10px;
}

form{
    background-color: #f5f5dc;
    width: 400px;
    padding: 16px 16px;
    border: 10px solid brown;
    height: 100%;
    
}

form label{
    width: 75px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"]{
    width: 100%;
    padding: 3px 10px;
    margin: 8px 0;
    border: 1px solid #444546;
    border-radius: 3px;
    display: inline-block;
}

form input[type="submit"]{
    width: 100%;
    padding: 8px 16px;
    margin-top: 16px;
    border: 1px solid brown;
}
form input[type="reset"]{
    width: 100%;
    padding: 8px 16px;
    margin-top: 16px;
    border: 1px solid brown;
}

textarea{
    width: 100%;
    height: 100px;
    border: 1px solid brown;
    margin: 8px 0px;
}


.grid-container{
    background-color: beige;
    display: grid;
    grid-template-areas:

    "menu menu menu"

    "principal principal principal"

    "principal principal principal"

    "barrilada barrilada barrilada"

    "barrilada barrilada barrilada"

    "fabrica fabrica fabrica"

    "fabrica fabrica fabrica"

    "contacto contacto contacto";

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 90vh;
    border: 5px solid brown;
}

.grid-item{
    padding:20px ;

}

.grid-menu{
    background-image: url(img/portada.png);
    background-size: cover;
    width: 640px;
    height: 680px;
    grid-area:menu;
    color: white;
}

.grid-principal{
    background-image: url(img/TiposDeCervezas.png);
    background-size: cover;
    grid-area: principal;
    color: white;
}

.grid-fabrica{
    background-image: url(img/fabrica.png);
    background-size: cover;
    grid-area: fabrica;
    color: black;
}

.grid-barrilada{
    background-image: url(img/barril.png);
    background-size: cover;
    grid-area: barrilada;
    color: black;
}

.grid-contacto{
    background-image: url(img/contactenos.png);
    background-size: cover;
    grid-area: contacto;
    color: black;
}

.grid-menu:hover{
    width: 900px;
    transition: width 2s;
}

.grid__conteiner{
    display: grid;
    grid-template-areas: 
    "opcionUno opcionUno p1 p1"
    "opcionUno opcionUno p1 p1"
    "opcionDos opcionDos p2 p2"
    "opcionDos opcionDos p2 p2";
    background-color: #f5f5dc;
}

.grid-opcionUno{
    grid-area: opcionUno;
    padding-top:50px ;
}

.barril__tamaño{
    height: 483px;
    width: 671px;
}

.grid-opcionDos{
    grid-area: opcionDos;
}

.grid-p1{
    grid-area: p1;
    padding: 50px;
}

.grid-p2{
    grid-area: p2;
    padding-left: 50px;
}

.estilo__barrilada{
    display: block;
    text-align: center;
}

.img-fondo{
    background-image: url(img/fabrica-cerveza-la-salve-1920.png);
    width: 100%;
    height: 400px;
    text-align: center;
    color:white;
    padding-top: 150px;
}

.flex-conteiner{
    display: flex;
    flex-direction: row-reverse;
    padding:10px;
    
}

.flex-item{
    width: 50vw;
    height: 50vh;
}

.grid__conteinerCervezas{
    display: grid;
    grid-template-areas: 

    "grid-imgPrincipal grid-imgPrincipal grid-imgPrincipal"
    "grid-imgPrincipal grid-imgPrincipal grid-imgPrincipal"
    "grid-imgPrincipal grid-imgPrincipal grid-imgPrincipal"
    "grid-imgPrincipal grid-imgPrincipal grid-imgPrincipal"
    "grid-imgPrincipal grid-imgPrincipal grid-imgPrincipal"
    "grid-img__1 grid-img__2 grid-img__3"
    "grid-img__1 grid-img__2 grid-img__3"
    "grid-img__1 grid-img__2 grid-img__3"
    "grid-img__1 grid-img__2 grid-img__3"
    ;
    grid-template-rows: repeat(9, 1fr);
    height: 150vh;
}

.grid-imgPrincipal{
    background-image: url(img/tipoCervezas2.png);
    background-size: cover;
    grid-area: grid-imgPrincipal;
    color: White;
}

.grid-img__1{
    background-image: url(img/opcion-1.png);
    background-size: cover;
    grid-area: grid-img__1;
    color: White;
}

.grid-img__2{
    background-image: url(img/cervezas-frutales.png);
    background-size: cover;
    grid-area: grid-img__2;
    color: White;
}


.grid-img__3{
    background-image: url(IMG/opcion-3.png);
    background-size: cover;
    grid-area: grid-img__3;
    color: White;
}


.logo__h1{
    display: inline;
}


.nav__menu__link{
    background-color: brown;
    color: white;
} 

.footer__link{
    background-color: brown;
    color: inherit;
}



.footer{
    background-color: brown;
    color: white;
}

@media(min-width: 800px) {

    .grid-container {

        grid-template-areas:

            "menu principal principal"

            "menu principal principal"

            "menu barrilada barrilada"

            "menu barrilada barrilada"

            "menu fabrica fabrica"

            "menu fabrica fabrica"

            "menu contacto contacto"

            "menu contacto contacto";

    }

}

@media(min-width: 480px){
    .flex-conteiner{
        display: flex;
        flex-direction: row;
    }
}

@media(min-width:480px){
    .grid-p1{
        display: inline;
    }
}


@keyframes lateral{
        0% {
          opacity: 0;
          transform: translateX(-100px);
        }
        20%,80% {
          opacity: 1;
          transform: translateX(0);
        }
        100% {
          opacity: 0;
          transform: translateX(100px);}
      }

